
<div class="mt-4">
    <div class="row">
        <div class="col-lg-9">
            <h2>{{course.userId}}</h2>
            <h2>{{course.name}}</h2>
            <h2>{{course.date}}</h2>
            <h2>{{course.avarageScore}}</h2>
            <h2>{{course.major}}</h2>
        </div>
    </div>
</div>